*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black; 
    color: white;
}

header {
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
}

.quoteSection{
    background-color: white; 
    color: black;
    margin: 0;
    padding: 0.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 10vh;
}

q{
    font-size: 3em;
    text-align: center;
}

img{
    width: 35ch; 
    height: auto;
}

.bioSection{
    margin: auto;
    padding: 2rem 5rem;
}

h2{
    font-size: 3em;
}

.bioText{
    font-size: 1.5em;
}

