*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
    padding: 30px;
    background-color: bisque;

}

h2{
    padding: 20px;
}

p{
    padding: 0 30px;
    color: gray;
    margin: 10px;
}

pre {
    background-color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    margin: 30px;
}

ul{
    padding-left: 60px;
    color: gray;
}